@model CreateStatusDto
@{
    ViewData["Title"] = "AddStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
	<h4 class="page-title">Yeni Durum Oluşturma</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Durum Ekle</div>
				</div>
				<div class="card-body">
					<form method="post">
						<div class="form-group">
							@Html.Label("Durum Bilgisi")
							<input type="text" asp-for="Information" class="form-control" />
						</div>
						<br />
						<button class="btn btn-outline-primary">Oluştur</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
