@model List<StatusListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
	<h4 class="page-title">Durumlar</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Durum Tablosu</div>
				</div>
				<div class="card-body">
					@if (Model!=null && Model.Any())
					{
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Bilgi</th>
									<th scope="col">Aktif</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.StatusID</td>
										<td>@item.Information</td>
										@{
											if (item.Active == true)
											{
												<td><a href="/Status/MakePassive/@item.StatusID" class="btn btn-outline-warning">Pasif Yap</a></td>
											}
											else
											{
												<td><a href="/Status/MakeActive/@item.StatusID" class="btn btn-outline-info">Aktif Yap</a></td>
											}
										}
										<td><a href="/Status/UpdateStatus/@item.StatusID" class="btn btn-outline-success">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Status/AddStatus" class="btn btn-outline-primary">Yeni Durum Girişi</a>
					}
					else
					{
						<div class="container mt-5">
							<h4 style="color:crimson">Henüz herhangi bir durum eklemediniz. Lütfen "Durum Ekle" butonundan durum ekleyiniz.</h4>
							<a href="/Status/AddStatus" class="btn btn-outline-primary">Yeni Durum Girişi</a>
						</div>

					}
				</div>
			</div>
		</div>
	</div>
</div>